################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SLAwareApi/bin/Debug/net8.0/SLAwareApi.dll
